*{
    background-image: url(image/download.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
  
}

.p3,
.p1,
.p2 {
    width: 280px;
    height: auto;
    border: 1px solid #000;
    margin: 10px 0 5px 8px ;
    padding: 20px;
}
.p1{
    color:#000;
    background: inherit;
    background-image: url(image/images.jpg);
}
.p2,
.p3{
    color: #fff;
    background-image: url(image/download.jpg);
    
}